.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 40px;
}

.cards_items {
  flex: 20%;
  padding: 8px;
  margin: 10px;
  background: black;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.cards_items:hover {
  box-shadow: 3px 6px #888888;
  transform: rotate(-2deg);
}
.react-tabs__tab--selected {
  background: #ff0088;
  border-color: #aaa;
  color: white;
  border-radius: 12px 12px 0 0;
}

.desc {
  display: flex;
}
.titles {
  flex: 70%;
  color: #ccc;
  text-align: left;
}
.price {
  flex: 30%;
  color: #ddd;
  text-align: right;
}
.name {
  word-break: keep-all;
  font-size: 15px;
}
.code {
  font-size: 12px;
  word-break: keep-all;
}
.pn {
  font-size: 15px;
}
.pval {
  font-size: 13px;
}
